<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Navigator" version="5.550.2106.1" targetFramework="net46" />
  <package id="Krypton.Toolkit" version="5.550.2106.1" targetFramework="net46" />
  <package id="Krypton.Workspace" version="5.550.2106.1" targetFramework="net46" />
  <package id="OpenTK" version="3.1.0" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net46" />
</packages>